---
---

h1 {
  clear: both;
}

.speaker {
  clear: both;
  min-height: 92px;
  img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    height: 92px;
    width: 92px;
    border: 1px solid gray;
  }
}
