---
---
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$width: 36em;

body {
  font-family: 'Noto Sans', monospace;
  font-size: 20px;
  line-height: 1.3em;
  padding: 1em;
}

section {
  width: $width;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  header {
    text-align: center;
  }
  article {
    border: 0;
    .front {
      width: 100%;
    }
    h1 {
      font-weight: bold;
      font-size: 125%;
      color: #BF2828;
    }
    a {
      text-decoration: underline;
      color: inherit;
    }
    .laurel {
      width: .16 * $width;
      display: inline-block;
      text-align: left;
      img {
        width: 4em;
        height: 4em;
        text-align: left;
      }
    }
    .org {
      display: inline-block;
      width: .16 * $width;
      vertical-align: top;
      img {
        display: block;
        margin: 0;
        height: 4em;
        width: 4em;
        border: 1px solid lightgray;
      }
    }
    .jury {
      display: inline-block;
      width: .16 * $width;
      vertical-align: top;
      img {
        border-radius: 50%;
        filter: grayscale(100%);
        display: block;
        margin: 0;
        height: 4em;
        width: 4em;
        border: 1px solid lightgray;
      }
    }
  }
  footer {
    text-align: center;
    font-size: 0.8em;
    color: gray;
    p {
      margin: 0;
    }
  }
}

.logo {
  height: 6em;
  width: 6em;
}
