---
---
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  font-family: 'Inconsolata', monospace;
  font-size: 22px;
  line-height: 1.3em;
  padding: 1em;
}

section {
  width: 30em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  header {
    text-align: center;
  }
  article {
    border: 0;
    .front {
      width: 100%;
    }
  }
  footer {
    text-align: center;
    font-size: 0.8em;
    color: gray;
  }
}

.logo {
  height: 150px;
  width: 150px;
}
