---
layout: compress
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description | xml_escape }}"/>
    <meta name="keywords" content="open source, conference, moscow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/logo-128.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/drops@gh-pages/drops.min.css"/>
    <link rel="stylesheet" href="//www.yegor256.com/css/icons.css"/>
    <link href='/css/main.css?4' rel='stylesheet'/>
    <link href='/css/front.css?2' rel='stylesheet'/>
  </head>
  <body>
    <section>
      <header>
        <nav>
          <ul>
            <li>
              <a href="/index.html">
                <img src="logo.svg" alt="logo" class="logo"/>
              </a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li><a href="https://t.me/kaicode" title="Our Telegram channel"><i class="larger icon icon-telegram"></i></a></li>
            <li><a href="mailto:team@kaicode.org" title="Send us an email"><i class="larger icon icon-mail"></i></a></li>
          </ul>
        </nav>
        <nav>
          <ul>
            {% for hash in page.breadcrumbs %}
              {% for b in hash %}
                <li>
                  <a href="{% if b[0] contains '/' %}{% else %}#{% endif %}{{ b[0] }}">{{ b[1] }}</a>
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </nav>
        <nav style="font-size:0.8em;">
          <ul>
            {% for hash in site.breadcrumbs %}
              {% for b in hash %}
                <li>
                  <a href="{% if b[0] contains '/' %}{% else %}#{% endif %}{{ b[0] }}">{{ b[1] }}</a>
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </nav>
      </header>
      <article>
        {{ content }}
      </article>
      <footer>
        <p>
          &copy; Kaicode,
          2015&ndash;<span itemprop="copyrightYear">{{ 'now' | date: "%Y" }}</span>
        </p>
        <p>
          Feel free to edit this site, it's
          <a href="https://github.com/cqfn/kaicode.github.io">on GitHub</a>
        </p>
      </footer>
    </section>
  </body>
</html>
